@model UpdateProfile
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şehir Teknolojileri Merkezi Profili Düzenle</title>
    <link rel="stylesheet" href="~/content/bootstrap/dist/css/bootstrap.css">

</head>

<body>
    @await Html.PartialAsync("_AdminPanelnavbar")
    <div class="container">
        <div class="message mt-2">
            @if (TempData["message"] != null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
            }
        </div>
        <div class="row mt-5">
            <hr>
            <div class="col-8">
                <form asp-action="updateProfile" asp-controller="admin" method="post">
                    <input type="hidden" asp-for="@Model.Id">
                    <div class="form-group my-4">
                        <label for="name">Ad soyad</label>
                        <input type="text" class="form-control" id="name" asp-for="FullName">
                    </div>
                    <div class="form-group my-4">
                        <label for="name">Mail Adresi</label>
                        <input type="text" class="form-control" id="name" asp-for="Email">
                    </div>
                    <div class="form-group my-4">
                        <label for="name">Yeni Parola</label>
                        <input type="password" class="form-control" id="name" asp-for="Password">
                    </div>
                   

                    <button type="submit" class="btn btn-primary mt-1">Kullanıcı bilgilerini güncelle</button>
                </form>
            </div>


        </div>

    </div>



</body>

</html>